footer{
    height: 7em;
    position: relative;
    background-color: rgb(216, 180, 63);
}
footer p{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2em;
  }