main {
    display: block;
    width: 100%;
    margin-top: 14%;
    margin-bottom: 14%;
}
main > .tabulka {
    background-color: white;
    position: relative;
    text-align: center;
    border: 4px solid;
    margin: 1% 30%;
    height: 20em;
    ul {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}
main > .tabulka > ul li {
    list-style-type: none;
    font-size: 1.5em;
}
main > .tabulka > ul li p {
    font-weight: bold;
    font-size: 1.5em;
}
main > .tabulka > ul .datum > li p {
    margin: 1em;
    margin-bottom: 0.5em;
}
main > .tabulka > ul .čas > li p {
    margin: 1em;
    margin-bottom: 0.5em;
}
main > .tabulka > ul .datum {
    margin-bottom: 2em;
}

main > .tabulka > ul .čas {
    margin-bottom: 0.5em;
}
