@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@300&family=Pattaya&display=swap");
body,
html {
    height: 100%;
    margin: 0;
    font: 400 15px/1.8 "Exo 2, sans-serif";
    color: #777;
}

img {
    position: relative;
    display: flex;
    max-width: 100px;
    max-height: 100px;
}

.bgimg-1,
.bgimg-2,
.bgimg-3,
.bgimg-4 {
    position: relative;
    opacity: 0.65;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bgimg-1 {
    background-image: url("img/img_parallax.jpg");
    min-height: 100%;
}

.bgimg-2 {
    background-image: url("img/img_parallax2.jpg");
    min-height: 400px;
}

.bgimg-3 {
    background-image: url("img/img_parallax3.jpg");
    min-height: 400px;
}

.bgimg-4 {
    background-image: url("img/img_parallax4.jpg");
    min-height: 400px;
}

.caption {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
}

.caption span.border {
    background-color: #111;
    color: #fff;
    padding: 18px;
    font-size: 25px;
    letter-spacing: 10px;
}

h3 {
    letter-spacing: 5px;
    text-transform: uppercase;
    font: 20px "Exo 2", sans-serif;
    color: #111;
}

@media only screen and (max-device-width: 1024px) {
    .bgimg-1,
    .bgimg-2,
    .bgimg-3 {
        background-attachment: scroll;
    }
}